.networkBox {
  border: 1px solid #a3e635;
  border-radius: 0.25rem;
  max-width: 1000px;
}

.about {
  margin-inline: auto;
  padding-inline: 16px;
  scroll-margin-top: 80px;
  max-width: 800px;
}

.about h2{
  text-align: center;
}