.header {
  composes: spaceBetween from "./utils.module.css";
  background-color: #a3e635;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  margin: 10px, 10px;
  width: 100%;
  z-index: 50;
  
}

.menu {
  composes: sideBySideCenter from "./utils.module.css";
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  gap: 1rem;
}
.title {
  font-weight: bold;
  font-size: 1.25rem; /* text-xl */
  color: #fff;
}

.menu li a {
  color: #fff; /* グローバルのリンク色を上書き */
  text-decoration: none;
  transition: opacity 0.2s;
}

.menu li a:hover {
  opacity: 0.8;
  color: #e4fbd9;
}
