.body {
  background-color: #ffffff;
  color: #111827; 
  scroll-behavior: smooth;
}

.main {
  min-height: 100vh; 
  padding: 6rem 1rem; 
    max-width: 1000px;
}

@media (max-width: 600px) {
  .main {
    padding: 4.5rem 0.75rem;
  }
}
