.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.link {
  color: #65a30d; /* lime-600 */
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.link:hover {
  color: #4d7c0f; /* lime-700 */
}

.icon {
  font-size: 1.1rem;
}

.prev {
  justify-content: flex-start;
}

.next {
  justify-content: flex-end;
}
